<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gabilheri.moviestmdb">

    <!--https://medium.com/@Marcus_fNk/building-an-android-tv-app-part-2-824766c1ddbe-->
    <!-- Add this inside the manifest tag and outside the application tag -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">

        <!-- Add this to the activity tag -->
        <activity
            android:name=".ui.main.MainActivity"
            android:banner="@drawable/banner"
            android:icon="@drawable/banner"
            android:label="@string/app_name"
            android:logo="@drawable/banner"
            android:screenOrientation="landscape">

            <!-- Add this INSIDE the application tag -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.detail.MovieDetailsActivity"/>
        <activity android:name=".ui.playback.PlaybackOverlayActivity"/>
        <activity android:name=".ui.search.SearchActivity"/>
        <activity android:name=".ui.login.ConnectActivity"/>

        <!--true - mean outside-->
        <activity
            android:name=".ui.onboard.OnboardingActivity"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.Leanback.Onboarding"/>

        <!--remember this style for verticalgrid activity-->
        <activity
            android:name=".ui.moresample.VerticalGridActivity"
            android:exported="true"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.Leanback.VerticalGrid"/>
        <activity android:name=".ui.moresample.SettingsActivity"
                  android:exported="true"
                  android:theme="@style/LeanbackPreferences"/>
        <activity
            android:name=".ui.moresample.guide.GuidedStepActivity"
            android:theme="@style/Theme.Example.Leanback.GuidedStep"/>
        <activity
            android:name=".ui.moresample.authen.AuthenticationActivity"
            android:theme="@style/Theme.Example.Leanback.GuidedStep"/>

        <!--// have recommendation if user reboot device-->
        <receiver android:name=".data.recommendation.RecommendationReceiver"
                  android:enabled="true"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".data.recommendation.UpdateRecommendationService"
                 android:enabled="true"/>

    </application>

</manifest>
